<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

</head>
<body>

<script>
    // Maintain socket connection for the session!
    var socket = io();

    let myName = localStorage.getItem('quiz_username') || "Your Name";
    let myAvatarIdx = +(localStorage.getItem('quizPlayerAvatar') || 0);

    // Re-join the participants list!
    socket.on('connect', function() {
      socket.emit('join_waiting', { name: myName, avatar: myAvatarIdx });
    });


  </script>

</body>
</html>